<HTML><body>
	<font size=3 color=cyan>留言板</font>
	<hr><!--水平分隔线-->
	<!--显示留言消息-->
	<table border>
		<tr>
		<th>ID</th>
		<th>留言人</th>
		<th>时间</th>
		<th>留言内容</th>
		<th>操作</th>
		</tr>
	<%
		manager = MessageManager.get_instance()
		mess = manager.mess.reverse
		mess.each do |m|
	%>	
		<tr>
			<td><%= m.id %></td>
			<td><%= m.author %></td>
			<td><%= m.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			<td><%= m.message %></td>
			<td>
				<form action="/delete_message" method="post">
					<input type="hidden" name="id" value="<%= m.id %>" />
					<input type="submit" value="删除" />
				</form>
			</td>
		</tr>
	<% end %>
	</table>
	<hr>

	<!--查询区-->
	<hr>
	<font size=3 color=blue>查询留言：</font>
	<form action="/inquire_message" method="get">
		<input type="text" name="filter" value="输入id或author" />
		<input type="submit" value="查询">
	</form>
	<hr>

	<!--留言区-->
	<form action="/send_message" method="post">
		<%
			manager = MessageManager.get_instance()
			mess = manager.mess
			last_message = mess.last
			
			if(last_message != nil)
			  last_id = last_message.id
			else
			  last_id = 0
			end
			next_id = last_id + 1
			author = settings.username
			time = Time.now.to_i
		%>
		<input type="hidden" name="id" value="<%= next_id %>" />
		<input type="hidden" name="author" value="<%= author %>" />
		<input type="hidden" name="time" value="<%= time %>" />
		<textArea name="message" rows="5" cols="80" />输入留言信息</textArea>
		<br><input type="submit" value="上传消息" />
	</form>
</body></HTML>