<HTML><body>
	<font size=3 color=cyan>查询结果</font>
	<hr><!--水平分隔线-->
	<!--显示留言消息-->
	<table border>
		<tr>
		<th>ID</th>
		<th>留言人</th>
		<th>留言人ID</th>
		<th>时间</th>
		<th>留言内容</th>
		<th>操作</th>
		</tr>
	
	<%
		if @inquiry_mess.is_a?(Message)  %>
		  <tr>
			<td><%= @inquiry_mess.id %></td>
			<td><%= @inquiry_mess.author %></td>
			<td><%= @inquiry_mess.user_id %></td>
			<td><%= @inquiry_mess.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			<td><%= @inquiry_mess.content %></td>
			<td>
				<form action="/delete_message" method="post">
					<input type="hidden" name="id" value="<%= @inquiry_mess.id %>" />
					<input type="submit" value="删除" />
				</form>
			</td>
		  </tr>
	<%	else
		  @inquiry_mess.each do |m|
	%>	
		  <tr>
			<td><%= m.id %></td>
			<td><%= m.author %></td>
			<td><%= m.user_id %></td>
			<td><%= m.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			<td><%= m.content %></td>
		  </tr>
		<%  end  %>
	<%	end  %>
	</table>
	<hr>
	<br><A href="/">前往首页</A>
</body></HTML>
