<p align="right"><font size=2>
  <%= link_to session[:adminname], admin_path(session[:id]) %> <A href='/main/logout'>注销<A>
</font></p>

<h1>Listing Unchecked Feedbacks</h1>

<%= link_to 'Back to Feedbacks', feedbacks_path %>

<% if @feedbacks %>
  <%= will_paginate %>

<ul class="feedbacks">

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Content Summary</th>
  </tr>
  
  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.name %></td>
      <td><%= feedback.email %></td>
      <td><%= raw feedback.content[0,25] + "......" %></td>
      <!--<td>%= feedback.checked %</td>-->
      <td><%= link_to 'Show', feedback_path(feedback) %></td>
      <% if session[:id] %>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Remove', feedback_path(feedback), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
     </tr>
  <% end %>
</table>

</ul>

  <%= will_paginate %>
<% end %>
