<p align="right"><font size=2>
 <% if session[:id] != nil %>
    <%= link_to session[:adminname], admin_path(session[:id]) %> <A href='/main/logout'>注销<A>
  <% else %>
     <A href='/main/login'>管理员登录<A> 
  <% end %>
</font></p>

<h1>New Comment</h1>
<%= form_for :comment, url: admin_article_comments_path(@article.admin, @article) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %>
        prohibited this comment from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "60x6"%>
  </p>
  
    <%= f.hidden_field(:checked, value: false) %>
    <%= f.hidden_field(:article_id, value: @article.id) %>
    <%= f.hidden_field(:admin_id, value: session[:id]) %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Comments', admin_article_comments_path(@article.admin, @article) %>
